.burger-menu {
    filter: invert(94%) sepia(85%) saturate(3359%) hue-rotate(82deg) brightness(91%) contrast(106%);
    position: fixed;
    top: 10px;
    left: 10px;
    width: 4rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark {
    background-color: #515558;
    color: #f8f8f8;
}

.light {
    background-color: #f8f8f8;
    color: #515558;

}

.main-container > section { 
    height: 25vh;
}